@font-face {
	font-family: 'Fira Code';
	src: url(fonts/FiraCode-Regular.woff2) format('woff2'),
		url(fonts/FiraCode-Regular.woff) format('woff');
	font-feature-settings: 'onum';
}

html, body {
	margin: 0;
	background-color: #234;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	width: 100vw;
}

body>div {
	width: calc(100%-2em);
	max-width: 40em;
	height: auto;
	margin: 1em;
	color: #ddd;
	font-family:'Fira Code', Courier, monospace;
}